<!DOCTYPE html>
<html lang="<%= t('lang') %>">
<head>
    <meta charset="UTF-8">
    <title><%= t('title') %></title>
    <link rel="stylesheet" type="text/css" href="/css/AmazonPlus.css" />
    <!-- Google reCaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<div class="layout-box">
    <div class="content-box">
        <form name="loginForm" class="loginForm" action="/login" method="post">
            <div>
                <a href="/amazon">Let's go and get some best-sellers.</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>